<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    <div class="rain-pane"></div>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/{{ site.baseurl }}cssjs/main.js"></script>
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
        <script type="text/javascript" src="/{{ site.baseurl }}cssjs/{{ js_file }}.js"></script>
      {% endfor %}
    {% endif %}
  </body>
</html>